<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.calculator.autocommit</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/jaiminpansal/Documents/programs/calc/auto-commit.sh</string>
    </array>
    
    <key>StartInterval</key>
    <integer>18000</integer> <!-- 5 hours in seconds -->
    
    <key>RunAtLoad</key>
    <false/>
    
    <key>StandardOutPath</key>
    <string>/Users/jaiminpansal/Documents/programs/calc/auto-commit-stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/jaiminpansal/Documents/programs/calc/auto-commit-stderr.log</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/jaiminpansal/Documents/programs/calc</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
